<div class="row">
	<div class="col-md-8">
		<h3>Welcome ${user.firstname}!</h3>
		<h2>Your personal Dashboard</h2>	
	</div>
	<div class="col-md-4">
		<img src="@{getPayment()}" class="center-block" style="width: 100px; height: 100px;">
		<h4 class="text-center">${user.key}</h4>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
	
    
	#{if bookedFlatrate}
		<h3>My Flatrate for ${new Date().format("MMMM yyyy")}: <em>${bookedFlatrate.flatrate.name}</em></h3>
		<table class="table">
			<thead>
				<tr>
					<th class="col-sm-1">Item</th>
					<th class="col-sm-1">used this month</th>
					<th class="col-sm-4"></th>
				</tr>
			</thead>
			<tbody>
				#{list items: usageIndicators, as:'ui'}
				<tr>
					<td>${ui.laundryItem.name}</td>
					<td>${ui.itemsUsed}/${ui.capacity}</td>
					<td>
						<div class="progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="${ui.itemsUsed}" aria-valuemin="0" aria-valuemax="${ui.capacity}" style="width: ${ui.degreeOfCapacity.format('#%')};">
    			<div class="progress-label">${ui.degreeOfCapacity.format('# %')}</div>
  			</div>
		</div>
		</td>
				</tr>
				#{/list}
			</tbody>
		</table>
			#{ifErrors}
      #{errors}
      <div class="alert alert-danger">${error}</div>
   #{/errors}
#{/ifErrors}
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upgradeFlatrate-modal">Upgrade now</button>
		
	#{/if}
	
	#{else}
    <h3>My Flatrate for ${new Date().format("MMMM yyyy")}: <em>Currently no flatrate selected.</em></h3>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upgradeFlatrate-modal">Choose flatrate fur current month</button>
	#{/else}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<h3>My Flatrate for ${new Date(new Date().getTime() + 2698000000).format("MMMM yyyy")}: <em>#{if (bookedFlatrateForNextMonth)} ${bookedFlatrateForNextMonth.flatrate.name} #{/if} #{else}No flatrate selected #{/else}</em></h3>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeFlatrate-modal">Change plan for next month</button>
	</div>
</div>
		