

<div class="container">

	<h1 class="page-header">Change your plan for next month</h1>
	

	<p>&nbsp;</p>

	<div class="row flat">
		#{list items: flatrates, as:'f'}
		<div class="col-lg-3 col-md-3 col-xs-6">
			<ul class="plan plan1 #{if bookedFlatrateForNextMonth.flatrate.id == f.id}featured #{/if} #{else} #{/else}">
				<li class="plan-name">${f.name}</li>
				<li class="plan-price"><strong>${f.price.format("#,##0.00")}€</strong> / month</li>
				#{list items: f.flatrateItems, as:'fi'}
				<li><strong>${fi.capacity}</strong> ${fi.laundryItem.name}</li>
				#{/list}
	
				#{if bookedFlatrateForNextMonth.flatrate.id == f.id}<li class="plan-action"><a href="private/upgradeFlatrate?flatrateId=${f.id}"
					class="btn btn-primary btn la disabled">Actual Plan</a>#{/if} #{else}
				<li class="plan-action"><a href="private/changeFlatrate?flatrateId=${f.id}"
					class="btn btn-primary btn la">Book flatrate</a>
					#{/else}
			</ul>
		</div>
		#{/list}




	</div>

</div>
<!-- /container -->

