<div id="upgradeFlatrate-modal" class="modal modal-wide fade"
	tabindex="-1" role="dialog" aria-labelledby="upgradeFlatrate-modal"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Choose your Upgrade:</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row flat">
						#{list items: flatrates, as:'f'}
						<div class="col-lg-3 col-md-3 col-xs-6">
							<ul class="plan plan1">
								<li class="plan-name">${f.name}</li>
								<li class="plan-price"><strong>${f.price.format("#,##0.00")}€</strong>
									/ month</li> #{list items: f.flatrateItems, as:'fi'}
								<li><strong>${fi.capacity}</strong> ${fi.laundryItem.name}</li>
								#{/list}
								<!-- 				<li class="plan-action"><a href="@{PrivateController.upgradeFlatrate(f.id)}" -->
								<!-- 					class="btn btn-primary btn-lg">Book flatrate</a></li> -->
								<li class="plan-action"><a
									href="@{PrivateController.upgradeFlatrate(f.id)}"
									class="btn btn-primary btn la">Book flatrate</a>
							</ul>
						</div>
						#{/list}




					</div>

				</div> <!-- /container -->
			</div>
		</div>
	</div>
</div>
