<div id="changeFlatrate-modal" class="modal modal-wide fade"
	tabindex="-1" role="dialog" aria-labelledby="changeFlatrate-modal"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Choose your plan for the next month:</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row flat">
						#{if bookedFlatrateForNextMonth}
						#{list items: flatrates, as:'f'}
						<div class="col-lg-3 col-md-3 col-xs-6">
							<ul
								class="plan plan1 #{if bookedFlatrateForNextMonth.flatrate.id == f.id}featured #{/if} #{else} #{/else}">
								<li class="plan-name">${f.name}</li>
								<li class="plan-price"><strong>${f.price.format("#,##0.00")}€</strong>
									/ month</li> #{list items: f.flatrateItems, as:'fi'}
								<li><strong>${fi.capacity}</strong> ${fi.laundryItem.name}</li>
								#{/list} #{if bookedFlatrateForNextMonth.flatrate.id == f.id}
								<li class="plan-action"><a
									href="@{PrivateController.changeFlatrate(f.id)}"
									class="btn btn-primary btn la disabled">Actual Plan</a>#{/if}
									#{else}
								<li class="plan-action"><a
									href="@{PrivateController.changeFlatrate(f.id)}"
									class="btn btn-primary btn la">Book flatrate</a> #{/else}
							</ul>
						</div>
						#{/list}
						#{/if}
						#{else}
						#{list items: flatrates, as:'f'}
						<div class="col-lg-3 col-md-3 col-xs-6">
							<ul
								class="plan plan1">
								<li class="plan-name">${f.name}</li>
								<li class="plan-price"><strong>${f.price.format("#,##0.00")}€</strong>
									/ month</li> #{list items: f.flatrateItems, as:'fi'}
								<li><strong>${fi.capacity}</strong> ${fi.laundryItem.name}</li>
								#{/list} 
								<li class="plan-action"><a
									href="@{PrivateController.changeFlatrate(f.id)}"
									class="btn btn-primary btn la">Book flatrate</a>
							</ul>
						</div>
						#{/list}
						#{/else}

					</div>
					#{if bookedFlatrateForNextMonth}
					<h5>You don't need our service the next month? <a href="@{PrivateController.changeFlatrate(-1)}" class="btn btn-primary btn-xs">No flatrate</a>.</h5>
					#{/if}
				</div> <!-- /container -->
			</div>
		</div>
	</div>
</div>