<h2>TESTING AREA</h2>

<h3>UserList:</h3>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>firstname</th>
			<th>Lastname</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody id="movieTable">
		#{list items: users, as:'u'}
		<tr>
			<td>${u.id}</td>
			<td>${u.firstname}</td>
			<td>${u.lastname}</td>
			<td>${u.email}</td>
		</tr>
		#{/list}
	</tbody>
</table>

<h3>FlatrateList:</h3>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>name</th>
			<th>price</th>
			<th>items</th>

		</tr>
	</thead>
	<tbody id="movieTable">
		#{list items: flatrates, as:'f'}
		<tr>
			<td>${f.id}</td>
			<td>${f.name}</td>
			<td>${f.price.format("#,##0.00")} €</td>

			<td>
				<ul>
					#{list items: f.flatrateItems, as:'fi'}
					<li>${fi.laundryItem.name} : ${fi.capacity} #{/list}
				</ul>

			</td>
		</tr>
		#{/list}
	</tbody>
</table>



<h3>FlatrateUsages:</h3>
Aktuelle Flatrate: ${bookedFlatrate.flatrate.name}
<table class="table table-hover">
	<thead>
		<tr>
			<th>LaundryItem</th>
			<th>currentUsage</th>
			<th>MaxUsage</th>
			<th>DegreeOfUsage</th>
		</tr>
	</thead>
	<tbody id="movieTable">
		#{list items: usageIndicators, as:'ui'}
		<tr>
			<td>${ui.laundryItem.name}</td>
			<td>${ui.itemsUsed}</td>
			<td>${ui.capacity}</td>
			<td>${ui.degreeOfCapacity} %</td>
		</tr>
		<tr>
			<td colspan="4">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="${ui.itemsUsed}" aria-valuemin="0" aria-valuemax="${ui.capacity}" style="width: ${ui.degreeOfCapacity}%;">
						<span class="sr-only">${ui.degreeOfCapacity}% Complete</span>
					</div>
				</div>
			</td>
		</tr>
		#{/list}
	</tbody>
</table>