
<h3>Usage History</h3>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
	#{if uMap}
	#{list items: uMap.keySet(), as:'u'}

	<li class="${u_isFirst ? 'active' : ''}"><a href="#${u}" data-toggle="tab">${u.asdate('MMMM yyyy', 'en')}</a></li> 
	#{/list}
	#{/if}
	#{else}
	<p>You have not used our service in the past months.</p>
	#{/else}
</ul>

<!-- Tab panes -->

<div class="tab-content">
	#{list items: uMap.keySet(), as:'u'}

	<div class="tab-pane ${u_isFirst ? 'active' : ''}" id="${u}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-1">Date</th>
					<th class="col-sm-2">Laundry</th>
					<th class="col-sm-3">Washed Items</th>
				</tr>
			</thead>
			<tbody class="table-striped">
				#{list items: uMap.get(u).keySet(), as:'day'}
				#{list items: uMap.get(u).get(day).keySet(), as:'laundry'}
				<tr>
					<td>${day}. ${u.asdate('MMM yyyy', 'en')}:</td>
					<td>
						${laundry.name}</td>
					<td>#{list items: uMap.get(u).get(day).get(laundry).keySet(), as:'laundryItem'} 
						${laundryItem.name}:
						${uMap.get(u).get(day).get(laundry).get(laundryItem).count}
						<br />
						#{/list}
					</td>#{/list}
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>
	#{/list}
</div>


