<!-- diese Datei wird in die main.html bei doLayout eingefügt -->
#{extends 'main.html' /}
<!-- hier wird der titel der main.html gesetzt -->
#{set title:'Home' /}

<section id="showcase">
	<div>#{PublicController/showCase /}</div>
</section>
<section id="why-we">
	<div class="container">#{PublicController/whyWe /}</div>
</section>
<section id="flatrates">
	<div class="container">#{include 'tags/PublicController/flatrates.html' /}</div>
</section>
<section id="find-a-laundry">
    <div class="container">#{include 'tags/PublicController/findALaundry.html' /}</div>
</section>
<section id="about-us">
	<div class="container">#{PublicController/aboutUs /}</div>
</section>
<footer id="footer" class="navbar-default">
	<div class="container">#{PublicController/footer /}</div>
</footer>

#{Secure/modalLoginForm /}
