<!-- diese Datei wird in die main.html bei doLayout eingefügt -->
#{extends 'main.html' /}
<!-- hier wird der titel der main.html gesetzt -->
#{set title:'Home' /}

#{ifErrors}
 
   <h1>Oops…</h1>
 
   #{errors}
       <li>${error}</li>
   #{/errors}
 
#{/ifErrors}

<div class="container" style="padding-top: 2em">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			#{include 'tags/Secure/modalRegisterBody.html' /}
		</div>
	</div>
</div>