#{extends 'main.html' /} #{set title:'Login' /}
<section id="login">
	<div class="container">

		<h1>&{'secure.title'}</h1>
		#{form @Secure.authenticate()} 
			#{if flash.error}
				<div class="alert alert-danger alert-dismissable">&{flash.error}</div>
			#{/if} 
			#{if flash.success}
				<div class="alert alert-success alert-dismissable">&{flash.success}</div>
			#{/if}
	
			<div class="form-group">
				<label for="username">&{'secure.username'}</label> <input class="form-control" placeholder="&{'secure.username'}" name="username" id="username" type="email" value="${flash.username}" />
			</div>
			<div class="form-group">
				<label for="password">&{'secure.password'}</label> <input class="form-control" placeholder="&{'secure.password'}" name="password" id="password" type="password" value="" />
			</div>
			<div class="form-group">
				<label> <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true" ' : ''} /> &{'secure.remember'}
				</label>
			</div>
			<button type="submit" class="btn btn-default">&{'secure.signin'}</button>
		#{/form}
	</div>
</section>
