/*
#10222B
#95AB63
#BDD684
#E2F0D6
#F6FFE0
*/
img {
	width: 100%;
}

.navbar+* {
	margin-top: 50px;
}

.carousel-inner img {
	height: 500px;
}

dd {
	padding-left: 1em;
}

#map_canvas {
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
}

.carousel-div {
	width: 100%;
	height: 440px;
	background-size: cover;
}

#showcase {
	padding: 0;
}

#showcase-carousel .carousel-div .jumbotron {
	padding-top: 160px;
	height: 100%;
	text-align: center;
	color: #FFF;
	text-shadow: 5px 5px 5px #000;
	background-image: url(../images/bg.jpg);
	/*box-shadow: inset 0 0 300px #000000;*/
	background-position: 50% 50%;
}

#showcase-carousel .item:nth-child(2) .carousel-div {
	background-image: url(../images/waescheleine.jpg);
	background-position: 0 100%;
}

#showcase-carousel .item:nth-child(3) .carousel-div {
	background-image: url(../images/his_dirty_laundry.jpg);
	background-position: 0 44%;
}

section {
	padding: 30px;
	padding-top: 50px;
}

section + section:nth-child(odd) {
	background: #EEE;
}

section>div.container {
	margin: 20px auto;
	/*
	box-shadow: 5px 5px 5px #DDD;
	border: 1px solid #DDD;
	*/
}

#why-we h3 {
	text-align: center;
}
/*
#why-we h3 img {
	height: 150px;
	width: auto;
	border-radius: 50%;
	padding: 20px;
	border: 5px solid #EEE;
}
*/

/* DEPRECATED!!
#why-we .col-md-4 .image-holder {
	height: 150px;
	width: 150px;
	background-image: url(../images/icons/checkedQuality.png);
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	padding: 20px;
	border: 5px solid #EEE;
	border-radius: 50%;
	margin: 0 auto;
}

#why-we .col-md-4:nth-child(2) .image-holder {
	background-image: url(../images/icons/shirtOnTime.png);
}

#why-we .col-md-4:nth-child(3) .image-holder {
	background-image: url(../images/icons/whereverYouGo.png);
}
*/

#why-we .col-md-4 img {
	display: block;
	height: 150px;
	width: auto;
	margin: 0 auto;
}

#why-we .col-md-4 p {
}

#btn-login{
	margin-top: 9px;
}

.maps_infowindow {
	min-width: 200px;
	min-height: 100px;
}


/*  PRICING TABLE */

.flat .plan {
  border-radius: 6px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #f5f5f5;
  text-align: center;
}
.flat .plan li {
  padding: 10px 15px;
  color: #555;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  border-radius: 6px 6px 0 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #31708f;
  margin-bottom: 30px;
  border-top: 0;
}
.flat .plan li > strong {
  color: #e74c3c;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
  background: #cbff48;
  color: #293B47;
}
.flat .plan.featured:hover li.plan-name {
  background: #bdff15;
}
.flat .plan:hover li.plan-name {
  background: #bdff15;
  color: #293B47;
}

/*  END PRICING TABLE */


h1, h2, h3, h4, .navbar {
	text-transform: capitalize;
}


/*  MODAL VIEW WIDE */

.modal.modal-wide .modal-dialog {
  width: 95%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

/*  END MODAL VIEW WIDE */

/* MODAL VIEW MEDIUM */

.modal.modal-medium .modal-dialog {
  width: 40%;
}

.modal-medium .modal-body {
  overflow-y: auto;
}

/* END MODAL VIEW MEDIUM */

/*  PROGRESS BAR  */

.progress-bar {
	color: #fff;
	background-color: #00ada9;
    overflow-x: visible;
    white-space: nowrap;
}

.progress-label {
	padding-left: 5px;
}

/*  END PROGRESS BAR  */



.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #293B47;
  background-color: #cbff48;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #293B47;
}

/* Contact Form */

.input-xlarge {
width: 600px;
 }
.input-textmessage {
width: 600px;
height: 200px;
}

.contact-label {
color: #293b47;
}

/* Contact Form End */


/* PLUS MINUS */

.center{
width: 150px;
  margin: 40px auto;
}

.input-hand-in{
	cursor: default;
	color: #000;
	background-color: #fff;
	border-radius: 0;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	background-image: none;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	display: table-cell;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	
}

/* ABOUT US */

#about-us .col-md-3 div:first-of-type {
	text-align: center;
}


#about-us .col-md-3 img {
	width: auto;
	height: 140px;
}

#about-us .col-md-3 p {
	text-align: justify;
}

#about-us .col-md-3 h3 {
	text-align: center;
}


#why-we .col-md-4 p {
	text-align: justify;
}


/* CAPTCHA */

.input-recaptcha{
 width:172px;
}

/* LEFT or CENTERED BUTTON */

.btn.center {
width: auto;
display:block;
margin: 0 auto;
}

.btn.bigcenter {
width: 300px;
display: block;
margin: 0 auto;
}

.btn.left {
float: left;
margin-left: 18px;
}

.hintsmall {
font-size: 9pt;
}