<!-- diese Datei wird in die main.html bei doLayout eingefügt -->
#{extends 'main.html' /}
<!-- hier wird der titel der main.html gesetzt -->
#{set title:'Dashboard' /}

<section id="dashboard">
	<div class="container">#{include 'tags/PrivateController/dashboard.html' /}</div>
</section>

<section id="usage">
	<div class="container">#{include 'tags/PrivateController/usage.html' /}</div>
</section>

<footer id="footer" class="navbar-default">
	<div class="container">#{PublicController/footer /}</div>
</footer>

#{include 'tags/PrivateController/flatrate_upgrade_overlay.html' /}
#{include 'tags/PrivateController/flatrate_change_overlay.html' /}