<!-- diese Datei wird in die main.html bei doLayout eingefügt -->
#{extends 'main.html' /}
<!-- hier wird der titel der main.html gesetzt -->
#{set title:'Dashboard' /}

<div class="container">
	<h2>Manage your preferences</h2>
	#{if flash.success}
		<div class="alert alert-success alert-dismissable">&{flash.success}</div>
	#{/if}
	#{form @PrivateController.updatePreferences(), method:'POST', class:'form-horizontal'}
		#{list items:['firstname','lastname','email','password','repeatPassword','street','number','zipCode','city','pin'], as:'attr'}
			
			
			*{<!-- set the input's type according to the current attr name -->}*
			#{if attr == 'email'}
				#{set input_type:'email' /}
			#{/if}
			#{elseif attr == 'password' || attr == 'repeatPassword'}
				#{set input_type:'password' /}
			#{/elseif}
			#{else}
				#{set input_type:'text' /}
			#{/else}
			
			
			
			#{field 'user.' + attr}
			<div class="form-group">
				#{if field.error}
				<div class="alert alert-danger alert-dismissable col-sm-offset-2 col-sm-10">&{field.error}</div>
				#{/if}
				<label class="col-sm-2 control-label" for="${field.id}">&{field.name}:</label>
				<div class="col-sm-10">
					<input type="#{get 'input_type' /}" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass} form-control" placeholder="&{field.name}">
				</div>
				
				*{<!-- 
				 <dl>
					#{list items:field.entrySet(), as:'e'}
						<dt>${e.key}</dt><dd>${e.value}</dd>
					#{/list}
				</dl>
				 -->}*
			</div>
			#{/field} 
		#{/list}
		<div class="radio form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<label>
					<input type="radio" id="user_gender1" name="user.gender" value="male" ${user.gender == 'male' || flash.get('user.gender') == 'male' ? 'checked="checked"' : ''}>
					Male
				</label>
			</div>
		</div>
		<div class="radio form-group" style="margin-bottom: 1em;">
			<div class="col-sm-10 col-sm-offset-2">
				<label>
					<input type="radio" id="user_gender1" name="user.gender" value="female" ${user.gender == 'female' || flash.get('user.gender') == 'female' ? 'checked="checked"' : ''}>
					Female
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Save</button>
			</div>
		</div>
	#{/form}
</div>