#{form @PublicController.registerForm(), class:'form-horizontal'}
<!-- Tabs -->
<ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
	<li class="active"><a href="#basicinfo" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Basic Information</a></li>
	<!-- <li><a href="#paymentinfo" data-toggle="tab"><span class="glyphicon glyphicon-euro"></span> Payment Information</a></li> -->
</ul>
<div id="my-tab-content" class="tab-content">
	<!-- Basic Info Tab -->
	<div class="tab-pane active" id="basicinfo">
		<h4>Please Enter Your Basic Information</h4>

		<div class="hintsmall">Input fields marked with an asterisk (" * ") are required.</div>
		<br />

		<div class="form-group">
			<label for="firstname">First Name*</label>
			#{errors 'user.firstname'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="text" class="form-control" id="firstname" name="user.firstname" value="${flash.get('user.firstname')}" placeholder="Enter Your First Name" required>

		</div>
		<div class="form-group">
			<label for="lastname">Last Name*</label>
			#{errors 'user.lastname'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="text" class="form-control" id="lastname" name="user.lastname" value="${flash.get('user.lastname')}" placeholder="Enter Your Last Name" required>

		</div>
		<div class="form-group">
			<label for="email">Email*</label>
			#{errors 'user.email'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="text" class="form-control" id="email" name="user.email" value="${flash.get('user.email')}" placeholder="Your Emailaddress" required>

		</div>
		<div class="form-group">
			<label for="password">Account Password*</label>
			#{errors 'user.password'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="Password" id="password" class="form-control" name="user.password" value="${flash.get('user.password')}" placeholder="Your Password" pattern=".{8,}" required>

			<div class="hintsmall">Passwords have to be at least 8 characters. Characters include number (0-9), upper- and lowercase letters (A-Z), (a-z) and additional characters (!, #, -).</div>

		</div>
		<div class="form-group">
			<label for="repeatPassword">Retype Account Password*</label>
			#{errors 'user.repeatPassword'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="Password" id="repeatPassword" class="form-control" name="user.repeatPassword" value="${flash.get('user.repeatPassword')}" placeholder="Re-enter Password" pattern=".{8,}" required>

			<div class="hintsmall">Passwords have to match.</div>

		</div>

		<div class="form-group">
			<label for="pin">Enter Four-Digit PIN-Code*</label>
			#{errors 'user.pin'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="Password" id="pin" class="form-control" name="user.pin" value="${flash.get('user.pin')}" placeholder="Enter Your PIN" maxlength="4" size="4" required>

			<div class="hintsmall">Your 4-digit safety PIN will be used for each laundry.</div>

		</div>
		<!-- Password Check -->
		<script type="text/javascript">
			/*                    $(document).ready(function(){

			 $("#register").validate({
			 rules:{
			 repeatPassword:{
			 equalTo: "#password"
			 },
			 });
			 });
			 };

			 */
		</script>
		<div class="form-group">
			<label for="street">Street*</label>
			#{errors 'user.street'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="text" class="form-control" id="street" name="user.street" value="${flash.get('user.street')}" placeholder="Your Street" required>

		</div>
		<div class="form-group">
			<label for="number">Number*</label>
			#{errors 'user.number'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="text" class="form-control" id="number" name="user.number" value="${flash.get('user.number')}" placeholder="Street Number">

		</div>
		<div class="form-group">
			<label for="zipCode">Postal Code*</label>
			#{errors 'user.zipCode'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="text" class="form-control" id="zipCode" name="user.zipCode" value="${flash.get('user.zipCode')}" placeholder="Your Postal Code" required>

		</div>
		<div class="form-group">
			<label for="city">City*</label>
			#{errors 'user.city'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="text" class="form-control" id="city" name="user.city" value="${flash.get('user.city')}" placeholder="Your Current City" required>

		</div>
		<div class="form-group">
			<label for="gender">Gender*</label>
			#{errors 'user.gender'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<select class="form-control" id="gender" name="user.gender" value="${flash.get('user.gender')}" required>
				<option value="">Please Specify...</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
		</div>
		<div class="form-group">
			#{errors 'user.privacy_policy'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="checkbox" id="privacy_policy" name="user.privacy_policy" value="agreed" class="large" required>
			<label for="privacy_policy"> Yes, I have read the <a href="#footer_content-privacy_policy" data-dismiss="modal" data-toggle="modal">Privacy Policy</a>*
			</label>


		</div>
		<div class="form-group">
			#{errors 'user.terms_conditions'}
				<div class="alert alert-danger alert-dismissable">${error}</div>
			#{/errors}
			<input type="checkbox" id="terms_conditions" name="user.terms_conditions" value="agreed" class="large" required>
			<label for="terms_conditions"> Yes, I agree to the <a href="#footer_content-terms_conditions" data-dismiss="modal" data-toggle="modal">Terms &amp; Conditions</a>*
			</label>
		</div>
		<!-- Captcha -->
		<script type="text/javascript">
			var RecaptchaOptions = {
				theme : 'custom',
				custom_theme_widget : 'recaptcha_widget'
			};
		</script>
		<div id="recaptcha_widget" style="display: none">

			<div class="form-group">
				<label class="control-label">Please Enter Captcha-Code*</label>

				<div class="controls">
					<a id="recaptcha_image" href="#" class="thumbnail nomargin"></a>

					<div class="recaptcha_only_if_incorrect_sol" style="color: red">Incorrect, please try again.</div>
				</div>
			</div>

			<div class="form-group">
				<label class="recaptcha_only_if_image control-label">Enter the words above:</label> <label class="recaptcha_only_if_audio control-label">Enter the numbers you hear:</label>

				<div class="controls">
					<div class="input-append">
						<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="input-recaptcha" />
						<a class="btn" href="javascript:Recaptcha.reload()"><span class="glyphicon glyphicon-refresh"></span></a> <a class="btn recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')"><span title="Get an audio CAPTCHA"
							class="glyphicon glyphicon-headphones"></span></a> <a class="btn recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')"><span title="Get an image CAPTCHA" class="glyphicon glyphicon-picture"></span></a> <a class="btn"
							href="javascript:Recaptcha.showhelp()"><i class="glyphicon glyphicon-info-sign"></i></a>
					</div>
				</div>
			</div>

		</div>

		<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Lejx_USAAAAAOuh-GWptnEX-j0VzN6ld0RTf7r_">
			
		</script>
		<noscript>
			<iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lejx_USAAAAAOuh-GWptnEX-j0VzN6ld0RTf7r_" height="300" width="500"></iframe>
			<br>
			<textarea name="recaptcha_challenge_field" rows="3" cols="40">
        </textarea>
			<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
		</noscript>
		<!-- Captcha End -->
	</div>
	<!-- Basic Info Tab End -->

	<!-- Payment Info Tab -->
	<!-- 
	<div class="tab-pane" id="paymentinfo">
		<h4>Please Enter Your Payment Information</h4>

		<div class="form-group">
			<label for="bankName">Bank Name</label>
			<input type="text" class="form-control" id="bankName" name="payment.bankName" value="${flash.get('payment.bankName')}" placeholder="Enter your Bank">
		</div>

		<div class="form-group">
			<label for="bic">BIC</label>
			<input type="text" class="form-control" id="bic" name="payment.bic" value="${flash.get('payment.bic')}" placeholder="Enter your BIC">
		</div>

		<div class="form-group">
			<label for="iban">IBAN</label>

			<input type="text" class="form-control" id="iban" name="payment.iban" value="${flash.get('payment.iban')}" placeholder="Enter your IBAN">

		</div>
		<br />

		<div class="form-group">
			<label for="ccno">Credit Card No.</label>


			<input type="text" class="form-control" id="ccno" name="payment.ccno" value="${flash.get('payment.ccno')}" placeholder="Enter your credit card no.">

		</div>

		<div class="form-group">
			<label for="ccCustomerName">Credit Card Owner Name</label>


			<input type="text" class="form-control" id="ccCustomerName" name="payment.ccCustomerName" value="${flash.get('payment.ccCustomerName')}" placeholder="Name of credit card owner">

		</div>

		<div class="form-group">
			<label for="ccCompanyName">Credit Card Type</label>
			<br />
			<select id="ccCompanyName" name="payment.ccCompanyName" value="${flash.get('payment.ccCompanyName')}" required>
				<option value="">Choose a Credit Card Type...</option>
				<option value="mastercard">Master Card</option>
				<option value="visa">VISA</option>
				<option value="amex">American Express</option>
			</select>
		</div>
		<br />

		<div class="form-group">
			<label for="paypalAccount">E-Mail Address Of Your PayPal Account</label>
			<input type="text" class="form-control" id="paypalAccount" name="payment.paypalAccount" value="${flash.get('payment.paypalAccount')}" placeholder="PayPal">

		</div>
		<br />
		<br />
		<button type="button" class="btn btn-default center" data-target="#basicinfo" data-toggle="tab">Continue With Basic Information</button>
	</div>
	 -->
	<!-- Payment Info Tab End -->
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary">Register</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
#{/form}
