<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
            #{form @Secure.authenticate()}
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="loginModalLabel">Login</h4>
			</div>
			<div class="modal-body">
				#{if flash.error}
				<div class="alert alert-danger alert-dismissable">&{flash.error}</div>
				#{/if} #{if flash.success}
				<div class="alert alert-success alert-dismissable">&{flash.success}</div>
				#{/if}

				<div class="form-group">
					<label for="username">&{'secure.username'}</label> <input class="form-control" placeholder="&{'secure.username'}" name="username" id="username" type="email" value="${flash.username}" />
				</div>
				<div class="form-group">
					<label for="password">&{'secure.password'}</label> <input class="form-control" placeholder="&{'secure.password'}" name="password" id="password" type="password" value="" />
				</div>
				<div class="form-group">
					<label> <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true" ' : ''} /> &{'secure.remember'}
					</label>
				</div>
			</div>
			<div class="modal-footer">
                <button type="submit" class="btn btn-primary">&{'secure.signin'}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" href="#register-modal">Register</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
            #{/form}
		</div>
	</div>
</div>

<div class="container">#{include 'tags/Secure/modalRegisterForm.html' /}</div>