<div id="register-modal" class="modal modal-medium fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="registerModalLabel">Create New Account</h4>
			</div>
			<div class="modal-body">
				#{include 'tags/Secure/modalRegisterBody.html' /}
			</div><!-- end modal body -->
		</div>
	</div>
</div>