
<h2>About Us</h2>
<div class="row hyphenate">
	<div class="col-md-3">
		<div>
			<img src="@{'/public/images/michi.jpg'}" alt="Michael" />
		</div>
		<h3>Michael Ostner</h3>
		<p>Michael, born by the deep black forests of Ebersberg, raised in the high mountains of Hohenlinden. He came to rule the world of code. Counteracting against all them who are writing spaghetti rather than following the conventions. There is only one class. One to rule them all.</p>
	</div>
	<div class="col-md-3">
		<div>
			<img src="@{'/public/images/basti.png'}" alt="Sebastian" />
		</div>
		<h3>Sebastian Fröhlich</h3>
		<p>Sebastian comes from Hohenlinden, a village located in the middle of a place where the legend of the white ghost woman of the Ebersberger Forest resides as well as the very well known brewery Erding. His work at WASH.us mainly includes the backend of our company and the delivering of data to the frontend.</p>
	</div>
	<div class="col-md-3">
		<div>
			<img src="@{'/public/images/togi.png'}" alt="Togi" />
		</div>
		<h3>Togoldor Dashnyam</h3>
		<p>Togoldor or just simply "Togi" is 25 years old, from Berlin and currently doing his Master degree in Information Systems at the Technical University of Munich. His work at WASH.us includes mainly frontend development as well as graphic design and content
			management.</p>
	</div>
	<div class="col-md-3">
		<div>
			<img src="@{'/public/images/philipp.jpg'}" alt="Philipp" />
		</div>
		<h3>Philipp Arner</h3>
		<p>Philipp lives far  away from the big city of Munich in a small town in the west of Bavaria where the fox and the hare bid each other goodnight. His work at WASH.us mainly includes frontend development, process and business design. Furthermore he is responsible for the web site design. </p>
	</div>
</div>