<h2>Find one of our laundries</h2>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?api-key=AIzaSyB_Nyujihr7LXqmVZNh7IC8ORqPaUV7Vbk&sensor=false&libraries=places"></script>
<script type="text/javascript">
jQuery(function($) {
	var map;
	var geocoder = new google.maps.Geocoder();
	var position_marker;
	var current_geocode;
	
	var buildRouteForm = function(dest) {
        dest = dest.lat+","+dest.lng;

		var form = $('<form />');
		form.attr({
			'method': 'GET',
			'class': 'route_me',
			'action': 'https://maps.google.com/maps',
			'target': '_blank'
		});
		
		var input = $('<input type="hidden" />');
		input.attr('name', 'daddr');
		input.attr('value', dest);
		form.append(input);

        var button = $('<button type="submit" class="btn btn-default" />');
		button.text("Route me!");
		form.append(button);
		
		return form.get()[0].outerHTML;
	} 
	
	geocoder.geocode({
		address : '${address}',
		region : '${region}'

	}, function(obj) {
		current_geocode = obj;
		var viewport = current_geocode[0].geometry.viewport;
		
		var mapOptions = {
			zoom : 8,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map($("#map_canvas")[0], mapOptions);
		
		map.fitBounds(viewport);
		
		// Autocomplete
		var input = /** @type {HTMLInputElement} */(
		      document.getElementById('where-are-you'));
		
		var options = {
				componentRestrictions: {country: 'de'}
		};

		var searchBox = new google.maps.places.SearchBox(
	   /** @type {HTMLInputElement} */ (input));
		autocomplete = new google.maps.places.Autocomplete(input, options);
		
		 //END Autocomplete
		
		var markerImage = '@{'/public/images/washUsMarker.png'}';
		var getLaundriesAction = #{jsAction @AjaxController.getLaundries() /};
		$.getJSON(getLaundriesAction(), function(data) {
			for(var i = 0; i < data.length; i++) {
				var marker = new google.maps.Marker({
					map: map,
					position: {
							lat: data[i].lat,
							lng: data[i].lng
						},
					icon: markerImage
				});
				
				marker.setTitle(data[i].name);
				
				var infoWindow = new google.maps.InfoWindow();
                var content = '<h3>' + data[i].name + "</h3>";
					content += "<p>" + data[i].street + " " + data[i].number + ", " + data[i].city + "</p>";
					content += buildRouteForm(data[i]);
				
                content = '<div class="maps_infowindow">' + content + '</div>';

				// this extra outer function helps to get a pointer 
				// on the value and not on the reference
				(function(content, marker){
					google.maps.event.addListener(marker, 'click', function() {
						infoWindow.setContent(content);
						infoWindow.open(map, marker);
					});
				})(content, marker);
				
				//*/
			}
		});

	});
	
	// aktualisiert die position der karte auf die IP Ortung
	var findLocationAction = #{jsAction @AjaxController.findLocation() /};
	$.getJSON(findLocationAction(), function(data) {
		geocoder.geocode({
			address: data.city,
			region: data.country
		}, function(obj){
			current_geocode = obj;
			var viewport = current_geocode[0].geometry.viewport;
			map.fitBounds(viewport);
		});
	});
	
	$("#setMapLocation").on('submit', function(e){
		e.preventDefault();
		e.stopPropagation();

		var values = $(this).find('input').val();
		geocoder.geocode({
			address: values
		}, function(obj){
			current_geocode = obj;
			var viewport = current_geocode[0].geometry.viewport;
			map.fitBounds(viewport);
			
			if(typeof position_marker === "undefined") {
				position_marker = new google.maps.Marker({
					map: map
				});
			}
			
			var location = current_geocode[0].geometry.location;
			position_marker.setPosition(location);
		});
	});
	
	
	$("#map_canvas").delegate("form.route_me", "submit", function(e) {
		// e.preventDefault();
		// e.stopPropagation();
		
		var form = $(this);
		var input = $('<input type="hidden" />');
		input.attr('name', 'saddr');
		input.attr('value', current_geocode[0].formatted_address);
		
		form.append(input);
	});
});
</script>
<div id="map_canvas"></div>
<form class="form-group" id="setMapLocation">
	<label for="where-are-you"> Tell us where you are: </label>
	<div class="input-group">
		<input id="where-are-you" type="text" class="form-control" placeholder="Where are you"> <span class="input-group-btn">
			<button class="btn btn-default" type="submit">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</span>
	</div>
</form>
