

<div class="container">

	<h1 class="page-header">Pricing Table</h1>

	<p>&nbsp;</p>

	<div class="row flat">
		#{list items: flatrates, as:'f'}
		<div class="col-lg-3 col-md-3 col-xs-6">
			<ul class="plan plan1">
				<li class="plan-name">${f.name}</li>
				<li class="plan-price"><strong>${f.price.format("#,##0.00")}€</strong> / month</li>
				#{list items: f.flatrateItems, as:'fi'}
				<li><strong>${fi.capacity}</strong> ${fi.laundryItem.name}</li>
				#{/list}
			</ul>
		</div>
		#{/list}




	</div>
	#{if session.username && session.rolename=='USER'}
	<h3 class="text-center">Manage your account <a href="@{PrivateController.index()}" class="btn btn-primary btn la" >Go to dashboard</a></h3>
	#{/if}
	#{else}
	<h3 class="text-center">Are you interested in our service? <button type="button" class="btn btn-primary btn la" data-dismiss="modal" data-toggle="modal" href="#register-modal">Register here</button></h3>
	<h3 class="text-center">Already our customer? <button type="button" class="btn btn-primary btn la" data-dismiss="modal" data-toggle="modal" href="#login-modal">Login</button></h3>
	#{/else}
</div>
<!-- /container -->

