<!-- FOOTER: FAQ -->


<div id="footer_content-faq" class="modal modal-wide fade" tabindex="-1" role="dialog"
     aria-labelledby="footer_content" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="faqModalLabel">Frequently Asked Questions</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <strong>What is WASH.us?</strong><br/>
                    WASH.us is a flat rate laundry service. A membership allows you to drop off your laundry at 20000+
                    partner laundries and hotels. With a membership, you can save up to 50% of costs compared to regular
                    laundry without a flat rate. We guarantee a minimum level of quality when picking our partner
                    laundries.
                    <br/><br/>
                    <strong>How does WASH.us work?</strong><br/>
                    You can signup by clicking on the Login-button in the upper right corner. After giving us you basic
                    and payment data, you can pick a flat rate that fits your needs. As soon as you got your
                    confirmation, you can drop off your laundry at one of our partner locations.
                    <br/><br/>
                    <strong>How do see my current flat rates?</strong><br/>
                    Just log into your account to enter your dashboard. If you already have a flatrate for this month,
                    you will see a table with laundry items such as shirt, pants etc. and the remaining count as well as
                    a graphical bar with a percentage number.
                    If you haven’t selected a flat rate yet, a popup will open up and ask you to choose from a range of
                    four different flat rates.
                    <br/><br/>
                    <strong>How do I know, how many remaining laundry items I have?</strong><br/>
                    Just by logging into your account and checking your dashboard. On your dashboard, there is a table
                    with all laundry items listed as well as remaining count.
                    <br/><br/>
                    <strong> What do I do, when I run out of my flat rate in the current month?</strong><br/>
                    In dashboard view, below the overview table is a button called “Upgrade”. Click on it and a popup
                    window will occur, where you can upgrade your current flat rate. Remember, after picking and
                    confirming a flat rate, it is not possible to downgrade.
                    <br/><br/>
                    <strong> How do I choose a flat rate for the upcoming month?</strong><br/>
                    Just scroll to the bottom of your dashboard. The currently selected flat rate is highlighted. If you
                    want to change your plan, just click at one of the four flat rates.
                    <br/><br/>
                    <strong> How do I find a partner location?</strong><br/>
                    Click on the navigation bar on “Find A Laundry” and enter your location. Now you will see a bunch of
                    partner laundries near your location. Click on one, and click on the “Route me” button. You will be
                    then redirected to a page where you can see routing directions to your preferred laundry.
                    <br/><br/>
                    <strong> Whom do I contact in case of problems?</strong><br/>
                    In case of disturbances, please contact our customer service by sending a mail to <a href="mailto:info@wash.us">info@wash.us</a> or by
                    phone 0049 176 39981234. Our staff member will assist you in solving .

                </div>
                <!-- /container -->
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default center" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER: CONTACT -->

<div id="footer_content-contact" class="modal modal-wide fade" tabindex="-1" role="dialog"
     aria-labelledby="footer_content" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="contactModalLabel">Contact</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                <form class="contact" name="contact">
                    <label class="contact-label" for="name">Your Name</label><br>
                    <input type="text" name="name" class="input-xlarge"><br>
                    <label class="contact-label" for="email">Your E-mail</label><br>
                    <input type="email" name="email" class="input-xlarge"><br>
                    <label class="contact-label" for="message">Enter a Message</label><br>
                    <textarea name="message" class="input-textmessage"></textarea>
                </form>
                    </div>
                <!-- /container -->
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary left" type="submit" value="Send" id="submit">
                <a href="#" class="btn btn-default left" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER: PRIVACY POLICY -->

<div id="footer_content-privacy_policy" class="modal modal-wide fade" tabindex="-1" role="dialog"
     aria-labelledby="footer_content" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="privacyModalLabel">Privacy Policy</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <!-- START PRIVACY POLICY CODE --><strong>What information do we collect?</strong> <br/><br/>We
                    collect information from you when you register on our site, place an order, subscribe to our
                    newsletter, respond to a survey or fill out a form. <br/><br/>When ordering or registering on our
                    site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone
                    number or credit card information. You may, however, visit our site anonymously.<br/><br/>Google, as
                    a third party vendor, uses cookies to serve ads on your site.
                    Google's use of the DART cookie enables it to serve ads to your users based on their visit to your
                    sites and other sites on the Internet.
                    Users may opt out of the use of the DART cookie by visiting the Google ad and content network
                    privacy policy.<br/><br/><strong>What do we use your information for?</strong> <br/><br/>Any of the
                    information we collect from you may be used in one of the following ways: <br/><br/>To personalize
                    your experience<br/>(your information helps us to better respond to your individual needs)<br/><br/>
                    To improve our website<br/>(we continually strive to improve our website offerings based on the
                    information and feedback we receive from you)<br/><br/>To improve customer service<br/>(your
                    information helps us to more effectively respond to your customer service requests and support
                    needs)<br/><br/>To process transactions<br/>
                    Your information, whether public or private, will not be sold, exchanged, transferred,
                        or given to any other company for any reason whatsoever, without your consent, other than for
                        the express purpose of delivering the purchased product or service requested.
                    <br/>
                    <br/>To administer a contest, promotion, survey or other site feature<br/><br/><br/>To send
                    periodic emails<br/>
                    The email address you provide for order processing, may be used to send you information
                        and updates pertaining to your order, in addition to receiving occasional company news, updates,
                        related product or service information, etc.
                    <br/>
                    Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed
                    unsubscribe instructions at the bottom of each email.<br/><br/><br/><br/><strong>How do we protect
                    your information?</strong> <br/><br/>We implement a variety of security measures to maintain the
                    safety of your personal information when you place an order or enter, submit, or access your
                    personal information. <br/> <br/>We offer the use of a secure server. All supplied sensitive/credit
                    information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our
                    Payment gateway providers database only to be accessible by those authorized with special access
                    rights to such systems, and are required to?keep the information confidential.<br/><br/>After a
                    transaction, your private information (credit cards, social security numbers, financials, etc.) will
                    not be kept on file for more than 60 days.<br/><br/><strong>Do we use cookies?</strong> <br/><br/>Yes
                    (Cookies are small files that a site or its service provider transfers to your computers hard drive
                    through your Web browser (if you allow) that enables the sites or service providers systems to
                    recognize your browser and capture and remember certain information<br/><br/> We use cookies to help
                    us remember and process the items in your shopping cart, understand and save your preferences for
                    future visits, keep track of advertisements and compile aggregate data about site traffic and site
                    interaction so that we can offer better site experiences and tools in the future.<br/><br/>If you
                    prefer, you can choose to have your computer warn you each time a cookie is being sent, or you can
                    choose to turn off all cookies via your browser settings. Like most websites, if you turn your
                    cookies off, some of our services may not function properly. However, you can still place orders by
                    contacting customer service.<br/><br/><strong>Do we disclose any information to outside
                    parties?</strong> <br/><br/>We do not sell, trade, or otherwise transfer to outside parties your
                    personally identifiable information. This does not include trusted third parties who assist us in
                    operating our website, conducting our business, or servicing you, so long as those parties agree to
                    keep this information confidential. We may also release your information when we believe release is
                    appropriate to comply with the law, enforce our site policies, or protect ours or others rights,
                    property, or safety. However, non-personally identifiable visitor information may be provided to
                    other parties for marketing, advertising, or other uses.<br/><br/><strong>Third party links</strong>
                    <br/><br/> Occasionally, at our discretion, we may include or offer third party products or services
                    on our website. These third party sites have separate and independent privacy policies. We therefore
                    have no responsibility or liability for the content and activities of these linked sites.
                    Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these
                    sites.<br/><br/><strong>Childrens Online Privacy Protection Act Compliance</strong> <br/><br/>We are
                    in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not
                    collect any information from anyone under 13 years of age. Our website, products and services are
                    all directed to people who are at least 13 years old or older.<br/><br/><strong>Online Privacy
                    Policy Only</strong> <br/><br/>This online privacy policy applies only to information collected
                    through our website and not to information collected offline.<br/><br/><strong>Terms and
                    Conditions</strong> <br/><br/>Please also visit our Terms and Conditions section establishing the
                    use, disclaimers, and limitations of liability governing the use of our website at <a
                        href="http://www.wash.us">http://www.wash.us</a><br/><br/><strong>Your Consent</strong>
                    <br/><br/>By using our site, you consent to our <a style='text-decoration:none; color:#3C3C3C;'
                                                                       href='http://www.wash.us/' target='_blank'>online
                    privacy policy</a>.<br/><br/><strong>Changes to our Privacy Policy</strong> <br/><br/>If we decide
                    to change our privacy policy, we will post those changes on this page, and/or update the Privacy
                    Policy modification date below. <br/><br/>This policy was last modified on June 16th, 2014<br/><br/><strong>Contacting
                    Us</strong> <br/><br/>If there are any questions regarding this privacy policy you may contact us
                    using the information below. <br/><br/>WASH.us<br/>Lehrstuhl XIX - SEBIS<br/>Boltzmannstraße 3<br/>Garching,
                    Bavaria 85748<br/>Germany<br/>info@wash.us<br/>004917612345678<br/><br/><!-- END PRIVACY POLICY CODE -->
                    <!-- /container -->
                </div>
        </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default center" data-dismiss="modal">Close</a>
            </div>
    </div>
</div>
</div>

<!-- FOOTER: TERMS & CONDITIONS -->

<div id="footer_content-terms_conditions" class="modal modal-wide fade" tabindex="-1" role="dialog"
     aria-labelledby="footer_content" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="termsModalLabel">Terms & Conditions</h4>
            </div>
            <div class="modal-body">
                <div class="container">

                <strong>Overview</strong><br/>
                This website is operated by WASH.us. Throughout the site, the terms “we”, “us” and “our” refer to WASH.us. WASH.us offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.
                By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply  to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.
                Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.
                Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.
                Our service is hosted on TU München. They provide us with the online platform that allows us to sell our products and services to you.
                <br/>
                <br/>
                <strong>Section 1 - Online Service Terms</strong>
                <br/>
                By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
                You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).
                You must not transmit any worms or viruses or any code of a destructive nature.
                A breach or violation of any of the Terms will result in an immediate termination of your Services.
                <br/>
                <br/>
                <strong>Section 2 - General Conditions</strong>
                <br/>
                We reserve the right to refuse service to anyone for any reason at any time.
                You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.
                You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us.
                The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.
                <br/>
                <br/>

                <strong>Section 3 - Accuracy, Completeness and Timeliness of Information</strong>
                <br/>
                We are not responsible if information made available on this site is not accurate, complete or current. The material on this site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any reliance on the material on this site is at your own risk.
                This site may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site.
                <br/>
                <br/>

                <strong>Section 4 - Modifications to the Service and Prices</strong>
                <br/>
                Prices for our products are subject to change without notice.
                We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.
                We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.
                <br/>
                <br/>

                <strong>Sections 5 - Products or Services (if applicable)</strong>
                <br/>
                Certain products or services may be available exclusively online through the website. These products or services may have limited quantities and are subject to return or exchange only according to our Return Policy.
                We have made every effort to display as accurately as possible the colors and images of our products that appear at the store. We cannot guarantee that your computer monitor's display of any color will be accurate.
                We reserve the right, but are not obligated, to limit the sales of our products or Services to any person, geographic region or jurisdiction. We may exercise this right on a case-by-case basis. We reserve the right to limit the quantities of any products or services that we offer. All descriptions of products or product pricing are subject to change at anytime without notice, at the sole discretion of us. We reserve the right to discontinue any product at any time. Any offer for any product or service made on this site is void where prohibited.
                We do not warrant that the quality of any products, services, information, or other material purchased or obtained by you will meet your expectations, or that any errors in the Service will be corrected.
                <br/>
                <br/>

                <strong>Section 6 - Accuracy of Billings and Account Information</strong>
                <br/>
                We reserve the right to refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased per person, per household or per order. These restrictions may include orders placed by or under the same customer account, the same credit card, and/or orders that use the same billing and/or shipping address. In the event that we make a change to or cancel an order, we may attempt to notify you by contacting the e-mail and/or billing address/phone number provided at the time the order was made. We reserve the right to limit or prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers or distributors.
                You agree to provide current, complete and accurate purchase and account information for all purchases made at our store. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed.
                For more detail, please review our Returns Policy.
                <br/>
                <br/>

                <strong>Section 7 - Optional Tools</strong>
                <br/>
                We may provide you with access to third-party tools over which we neither monitor nor have any control nor input.
                You acknowledge and agree that we provide access to such tools ”as is” and “as available” without any warranties, representations or conditions of any kind and without any endorsement. We shall have no liability whatsoever arising from or relating to your use of optional third-party tools.
                Any use by you of optional tools offered through the site is entirely at your own risk and discretion and you should ensure that you are familiar with and approve of the terms on which tools are provided by the relevant third-party provider(s).
                We may also, in the future, offer new services and/or features through the website (including, the release of new tools and resources). Such new features and/or services shall also be subject to these Terms of Service.
                <br/>
                <br/>

                <strong>Section 8 - Third-Party Links</strong>
                <br/>
                Certain content, products and services available via our Service may include materials from third-parties.
                Third-party links on this site may direct you to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or services of third-parties.
                We are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review carefully the third-party's policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party.
                <br/>
                <br/>
                <strong>Section 9 - User Comments, Feedback and Other Submissions</strong>
                <br/>
                If, at our request, you send certain specific submissions (for example contest entries) or without a request from us you send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by postal mail, or otherwise (collectively, 'comments'), you agree that we may, at any time, without restriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any comments; or (3) to respond to any comments.
                We may, but have no obligation to, monitor, edit or remove content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.
                You agree that your comments will not violate any right of any third-party, including copyright, trademark, privacy, personality or other personal or proprietary right. You further agree that your comments will not contain libelous or otherwise unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to be someone other than yourself, or otherwise mislead us or third-parties as to the origin of any comments. You are solely responsible for any comments you make and their accuracy. We take no responsibility and assume no liability for any comments posted by you or any third-party.
                <br/>
                <br/>
                <strong>Section 10 - Personal Information</strong>
                <br/>
                Your submission of personal information through the store is governed by our Privacy Policy. To view our Privacy Policy.
                <br/>
                <br/>

                <strong>Section 11 - Errors, Inaccuracies and Omissions</strong>
                <br/>
                Occasionally there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the Service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order).
                We undertake no obligation to update, amend or clarify information in the Service or on any related website, including without limitation, pricing information, except as required by law. No specified update or refresh date applied in the Service or on any related website, should be taken to indicate that all information in the Service or on any related website has been modified or updated.
                <br/>
                <br/>

                <strong>Section 12 - Prohibited Uses</strong>
                <br/>
                In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the Service or any related website, other websites, or the Internet. We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses.
                <br/>
                <br/>


                <strong>Section 13 - Disclaimer of Warranties; Limitations of Liability</strong>
                <br/>
                We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure or error-free.
                We do not warrant that the results that may be obtained from the use of the service will be accurate or reliable.
                You agree that from time to time we may remove the service for indefinite periods of time or cancel the service at any time, without notice to you.
                You expressly agree that your use of, or inability to use, the service is at your sole risk. The service and all products and services delivered to you through the service are (except as expressly stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement.
                In no case shall WASH.us, our directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the service or any products procured using the service, or for any other claim related in any way to your use of the service or any product, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or otherwise made available via the service, even if advised of their possibility. Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, our liability shall be limited to the maximum extent permitted by law.
                <br/>
                <br/>

                <strong>Section 14 - Indemnification</strong>
                <br/>
                You agree to indemnify, defend and hold harmless WASH.us and our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any law or the rights of a third-party.
                <br/>
                <br/>
                <strong>Section 15 - Severability</strong>
                <br/>
                In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity and enforceability of any other remaining provisions.
                <br/>
                <br/>
                <strong>Section 16 - Termination</strong>
                <br/>
                The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination of this agreement for all purposes.
                These Terms of Service are effective unless and until terminated by either you or us. You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services, or when you cease using our site.
                If in our sole judgment you fail, or we suspect that you have failed, to comply with any term or provision of these Terms of Service, we also may terminate this agreement at any time without notice and you will remain liable for all amounts due up to and including the date of termination; and/or accordingly may deny you access to our Services (or any part thereof).
                <br/>
                <br/>

                <strong>Section 17 - Entire Agreement</strong>
                <br/>
                The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision.
                These Terms of Service and any policies or operating rules posted by us on this site or in respect to The Service constitutes the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service).
                Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.
                <br/>
                <br/>

                <strong>Section 18 - Governing Law</strong>
                <br/>
                These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the laws of Boltzmannstraße 3 Garching Bavaria Germany 85748.
                <br/>
                <br/>
                <strong>Section 19 - Changes to Terms of Service</strong>
                <br/>
                You can review the most current version of the Terms of Service at any time at this page.
                We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes. Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes acceptance of those changes.
                <br/>
                <br/>

                <strong>Section 20 - Contact Information</strong>
                <br/>
                Questions about the Terms of Service should be sent to us at info@wash.us.
                </div>
                <!-- /container -->
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default center" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER: IMPRINT -->

<div id="footer_content-imprint" class="modal modal-wide fade" tabindex="-1" role="dialog"
     aria-labelledby="footer_content" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="imprintModalLabel">Imprint</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <strong>Legal Disclosure</strong><br/>Information in accordance with section §5 TMG<br/><br/>WASH.us<br/>Lehrstuhl XIX SEBIS<br/>Boltzmannstra&szlig;e
                    3<br/>95748 Garching<br/><br/>

                    <strong>Represented by</strong><br/>Michael Ostner, Togoldor Dashnyam, Sebastian Fr&ouml;hlich, Philipp
                    Arner<br/><br/>

                    <strong>Contact</strong><br/>Telephone: 0049 176 33991234<br/>E-Mail: <a
                        href="mailto:info@wash.us">info@wash.us</a><br/>Internet address: <a href="http://www.wash.us/"
                                                                                            target="_blank">http://www.wash.us/</a><br/><br/>

                    <strong>VAT number</strong><br/>VAT indentification number in accordance with section 27 a of the German VAT
                    act<br/>DE243314AJKDK241<br/><br/>

                    <strong>Regulating authority</strong><br/>Finanzamt M&uuml;nchen, 80275 M&uuml;nchen<br/><br/>

                    <strong>Indication of source for images and graphics</strong><br/>
                    http://xbatsatnightx.deviantart.com/art/his-dirty-laundry-15993319<br/>
                    http://piqs.de/fotos/80294.html<br/>
                    <i>(Both pictures are licensed under Creative Commons.)</i><br/><br/>

                    <strong>Disclaimer</strong><br/>Accountability for content<br/>The contents of our pages have been created with
                    the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality.
                    According to statutory provisions, we are furthermore responsible for our own content on these web
                    pages. In this context, please note that we are accordingly not obliged to monitor merely the
                    transmitted or saved information of third parties, or investigate circumstances pointing to illegal
                    activity. Our obligations to remove or block the use of information under generally applicable laws
                    remain unaffected by this as per &sect;&sect; 8 to 10 of the Telemedia Act (TMG).<br/><br/>Accountability
                    for links<br/>Responsibility for the content of external links (to web pages of third parties) lies
                    solely with the operators of the linked pages. No violations were evident to us at the time of
                    linking. Should any legal infringement become known to us, we will remove the respective link
                    immediately.<br/><br/>Copyright<br/> Our web pages and their contents are subject to German
                    copyright law. Unless expressly permitted by law (&sect; 44a et seq. of the copyright law), every
                    form of utilizing, reproducing or processing works subject to copyright protection on our web pages
                    requires the prior consent of the respective owner of the rights. Individual reproductions of a work
                    are allowed only for private use, so must not serve either directly or indirectly for earnings.
                    Unauthorized utilization of copyrighted works is punishable (&sect; 106 of the copyright
                    law).<br/><br/><i> </i><a href="" target="_blank"></a><br/><br/>
                </div>
                <!-- /container -->
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default center" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>