<nav class="navbar" role="navigation-footer">
  <div class="container-fluid">
    <div class="container">#{include 'tags/PublicController/footer_overlay.html' /}</div>
      <ul class="nav navbar-nav">
        <li><a href="#" data-toggle="modal" data-target="#footer_content-faq">FAQ</a></li>
        <li><a href="#" data-toggle="modal" data-target="#footer_content-contact">Contact</a></li>
        <li><a href="#" data-toggle="modal" data-target="#footer_content-privacy_policy">Privacy Policy</a></li>
        <li><a href="#" data-toggle="modal" data-target="#footer_content-terms_conditions">Terms & Conditions</a></li>
        <li><a href="#" data-toggle="modal" data-target="#footer_content-imprint">Imprint</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="E-Mail">
        </div>
        <button type="submit" class="btn btn-default">Register for Newsletter</button>
      </form>
  </div><!-- /.container-fluid -->
</nav>

