#{set navbarPrefix:'/' /} #{if request.url == '/' } #{set navbarPrefix:'' /} #{/if}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="${navbarPrefix}#top">   <img style="max-height: 130%; width: auto; margin-top: -7px;"
             src="/public/images/WashUsLogoAlternative.png">
             </a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="${navbarPrefix}#why-we">Why we?</a></li>
				<li><a href="${navbarPrefix}#flatrates">Our Flatrates</a></li>
				<li><a href="${navbarPrefix}#find-a-laundry">Find a laundry</a></li>
				<li><a href="${navbarPrefix}#about-us">About us</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			

			#{if session.username}
			#{if session.rolename}
				#{if session.rolename=='USER'}
				<li><a href="@{PrivateController.preferences}">Preferences</a></li>
				<li><a href="@{PrivateController.index}">Dashboard</a></li>
				#{/if}
				#{elseif session.rolename=='LAUNDRY'}
				<li><a href="@{PrivateController.preferences}">Preferences</a></li>
				<li><a href="@{LaundryController.index}">Dashboard</a></li>
				#{/elseif}
			#{/if}
			#{/if}
				<li><div>#{login-logout /}</div></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

