<div id="showcase-carousel" class="carousel slide">
	<!-- data-ride="carousel" -->
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#showcase-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#showcase-carousel" data-slide-to="1"></li>
		<li data-target="#showcase-carousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<div class="carousel-div">
				<div class="jumbotron">
					<h1>WASH.us</h1>
					<p>Your flatrate service for clean laundry!</p>
				</div>
			</div>
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<div class="carousel-div"></div>
			<div class="carousel-caption">
				<h3>Quality and Convenience</h3>
				<p>Our high-quality service is accessible on-the-go no matter where you are, 24/7!</p>
			</div>
		</div>
		<div class="item">
			<div class="carousel-div"></div>
			<div class="carousel-caption">
				<h3>20000 Locations</h3>
				<p>Choose from over 20000 locations all over Germany!</p>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#showcase-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span>
	</a> <a class="right carousel-control" href="#showcase-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
