<div class="row">
	<div class="col-md-12">
		<h2>Customer Benefits</h2>
	</div>
</div>
<div class="row hyphenate">
	<div class="col-md-4">
		<img src="@{'/public/images/icons/checkedQuality.png'}" alt="Logo for our checked quality text" />
		<h3>Convenience & Quality</h3>
		<div>
			<p>
				WASH.us is a laundry service, which offers flatrates accessible on the go from the web for a low price at many locations all over Germany.
				<br />
				Our laundry flexible service makes sure that every customer gets his customized laundry solution according to his individual needs.
			</p>
			<p>Wash.us stands for quality - all of our laundries are extensively tested and examined by us before becoming a partner. Only when they meet our high standards in terms of hygiene and effectiveness besides strict legal requirements, we add them to our network.
				Constantly running quality controls ensure, that your partners deliver to your expectations.</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="@{'/public/images/icons/shirtOnTime.png'}" alt="Logo for our be on time text" />
		<h3>Save Time</h3>
		<div>
			<p>
				Spend less time with handling your dirty laundry!
				<br />
				Our innovative business model enables you to access our laundry service 24/7. Access and manage your laundry flatrates on the go. Our slim and sleek web-platform allows you to quickly and easily pick from a different range of flatrates.
			</p>
			<p>
				Drop off your laundry and receive your laundry perfectly cleaned and ironed. At selected partner locations, we offer an overnight service - so in urgent cases you will never have to worry. Just drop your laundry at one of our countless partners - we'll do the rest.
				<br />

				Simple as that!
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="@{'/public/images/icons/whereverYouGo.png'}" alt="Logo for our wherever you go text" />
		<h3>Numerous Locations</h3>
		<div>
			<p>
				We are headquartered in Munich, Germany and offer through numerous locations all over Germany our great service to you.
				<br />
				We cover almost every major German city and we are working hard to expand our partner network to further improve our business.
			</p>
			<p>
				Traveling around?
				<br />
				Having many business trips?
				<br />
				No time to take care of your laundry?
				<br />
				That's where we come in. Our membership allows you to choose from over 20000 locations. And it's continuously growing.
				<br />
				Wherever you are - you always have the opportunity to get rid of your dirty laundry and receive clean laundry.
				<br />
				One flatrate, 20000 locations all over Germany.
				<br />
				And nonstop growing!
			</p>
		</div>
	</div>
</div>
