<div class="panel panel-default">
	<div class="panel-body">

<h3>Usage History</h3>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
	#{list items: laundryUsageIndicatorsGrouped.keySet(), as:'lui'}

	<li class="${lui_isFirst ? 'active' : ''}"><a href="#${lui}" data-toggle="tab">${lui.asdate('MMMM yyyy', 'en')}</a></li> 
	#{/list}
</ul>

<!-- Tab panes -->

<div class="tab-content">
	#{list items: laundryUsageIndicatorsGrouped.keySet(), as:'lui'}

	<div class="tab-pane ${lui_isFirst ? 'active' : ''}" id="${lui}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-1">Item</th>
					<th class="col-sm-2">Washed Items</th>
					<th class="col-sm-3">Revenue</th>
				</tr>
			</thead>
			<tbody class="table-striped">
				#{list items: laundryUsageIndicatorsGrouped.get(lui), as:'liug'}
				<tr>
					<td>${liug.laundryItem.name}</td>
					<td>${liug.itemsUsed}</td>
					<td>${liug.moneyEarned.formatCurrency('EUR').raw()}</td>
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>
	#{/list}
</div>
</div>
</div>


