<div class="panel panel-default">
	<div class="panel-body">
		<h3>Overview for ${new Date().format("MMMM yyyy")}:</h3>
		<table class="table">
			<thead>
				<tr>
					<th class="col-sm-1">Item</th>
					<th class="col-sm-2">Washed Items</th>
					<th class="col-sm-3">Revenue</th>
				</tr>
			</thead>
			<tbody>
				#{list items: laundryUsageIndicators, as:'liug'}
				<tr>
					<td>${liug.laundryItem.name}</td>
					<td>${liug.itemsUsed}</td>
					<td>${liug.moneyEarned.formatCurrency('EUR').raw()}</td>
				</tr>
				#{/list}
			</tbody>
		</table>		
	</div>
</div>