<!-- diese Datei wird in die main.html bei doLayout eingefügt -->
#{extends 'main.html' /}
<!-- hier wird der titel der main.html gesetzt -->
#{set title:'Hand In' /}
<section id="dashboard">
	<h5 class="text-center">Customer booked:</h5>
	<h4 class="text-center">${bookedFlatrate.flatrate.name}</h4>
	<div class="center">
		#{ifErrors} #{errors}
		<div class="alert alert-danger">${error}</div>
		#{/errors} #{/ifErrors} 
		#{form @LaundryController.summary(), method:'POST'}
		#{list items: usageIndicators, as:'ui'}
			<div class="form-group">
			
				<label for="${ui.laundryItem.name}">${ui.laundryItem.name}</label>
				<div class="input-group">
					<span class="input-group-btn">
						<button type="button" class="btn btn-danger btn-number"
							data-type="minus" data-field="itemsToBook.${ui.laundryItem.name}" disabled>
							<span class="glyphicon glyphicon-minus"></span>
						</button>
					</span> <input type="text" id="${ui.laundryItem.name}" name="itemsToBook.${ui.laundryItem.name}"
						class="input-hand-in" value="0" min="0" max="${ui.capacity-ui.itemsUsed}" readonly> <span class="input-group-btn">
						<button type="button" class="btn btn-success btn-number"
							data-type="plus" data-field="itemsToBook.${ui.laundryItem.name}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</span>
				</div>
			</div>
			#{/list}
			<hr />
			<button type="submit" class="btn btn-success pull-right">next!</button>
		#{/form}
		<p></p>
	</div>
</section>



<script>

//plugin bootstrap minus and plus
//http://jsfiddle.net/laelitenetwork/puJ6G/
$('.btn-number').click(function(e){
  e.preventDefault();
  
  fieldName = $(this).attr('data-field');
  type      = $(this).attr('data-type');
  var input = $("input[name='"+fieldName+"']");
  var currentVal = parseInt(input.val());
  if (!isNaN(currentVal)) {
      if(type == 'minus') {
          
          if(currentVal > input.attr('min')) {
              input.val(currentVal - 1).change();
          } 
          if(parseInt(input.val()) == input.attr('min')) {
              $(this).attr('disabled', true);
          }

      } else if(type == 'plus') {

          if(currentVal < input.attr('max')) {
              input.val(currentVal + 1).change();
          }
          if(parseInt(input.val()) == input.attr('max')) {
              $(this).attr('disabled', true);
          }

      }
  } else {
      input.val(0);
  }
});
$('.input-hand-in').focusin(function(){
 $(this).data('oldValue', $(this).val());
});
$('.input-hand-in').change(function() {
  
  minValue =  parseInt($(this).attr('min'));
  maxValue =  parseInt($(this).attr('max'));
  valueCurrent = parseInt($(this).val());
  
  name = $(this).attr('name');
  if(valueCurrent >= minValue) {
      $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
  } else {
      alert('Sorry, the minimum value was reached');
      $(this).val($(this).data('oldValue'));
  }
  if(valueCurrent <= maxValue) {
      $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
  } else {
      alert('Sorry, the maximum value was reached');
      $(this).val($(this).data('oldValue'));
  }
  
  
});
$(".input-hand-in").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
           // Allow: Ctrl+A
          (e.keyCode == 65 && e.ctrlKey === true) || 
           // Allow: home, end, left, right
          (e.keyCode >= 35 && e.keyCode <= 39)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
  });
  
</script>