<!-- diese Datei wird in die main.html bei doLayout eingefügt -->
#{extends 'main.html' /}
<!-- hier wird der titel der main.html gesetzt -->
<!-- Dashboard for Company Users -->
#{set title:'Company Dashboard' /}

<section id="welcome">
	<div class="container">
		<h4> Welcome ${laundry.name}!</h4>
		<h2>Your personal Dashboard</h2>
	</div>
</section>

<section id="company_actual_usage">
    <div class="container"><a href="@{LaundryController.key}" class="btn btn-primary btn la bigcenter">New Order</a></div>
    <div class="container">#{include 'tags/LaundryController/companyActualUsage.html' /}</div>
</section>

<section id="company_usage_history">
    <div class="container">#{include 'tags/LaundryController/companyUsageHistory.html' /}</div>
</section>

<footer id="footer" class="navbar-default">
    <div class="container">#{PublicController/footer /}</div>
</footer>