<!-- diese Datei wird in die main.html bei doLayout eingefügt -->
#{extends 'main.html' /}
<!-- hier wird der titel der main.html gesetzt -->
#{set title:'Key' /}
<section id="dashboard">
	<h4 class="text-center">Scan the QR Code</h4>
	<div class="center">
		#{ifErrors} #{errors}
		<div class="alert alert-danger">${error}</div>
		#{/errors} #{/ifErrors} 
		#{form @LaundryController.handIn(),method:'POST'}
		<div class="form-group">
			<label for="key">Key</label> <input type="text" id="key" name="key"
				class="form-control">
		</div>
		<hr />
		<button type="submit" class="btn btn-success pull-right">next!</button>
		#{/form}
	</div>


	<p></p>
	</div>
</section>



