<!-- diese Datei wird in die main.html bei doLayout eingefügt -->
#{extends 'main.html' /}
<!-- hier wird der titel der main.html gesetzt -->
#{set title:'Success' /}
<section id="dashboard">
	<div class="center">
	<h4 class="text-center">Congratulation!</h4>
	<hr />
	<p class="text-center"><a href="@{LaundryController.index()}" class="btn btn-primary btn la">Back to Dashboard</a></p>
	<p></p>
	</div>
</section>



