<!-- diese Datei wird in die main.html bei doLayout eingefügt -->
#{extends 'main.html' /}
<!-- hier wird der titel der main.html gesetzt -->
#{set title:'Summary' /}
<section id="dashboard">
	<h4 class="text-center">Summary</h4>
	<div class="center">
		#{ifErrors} #{errors}
		<div class="alert alert-danger">${error}</div>
		#{/errors} #{/ifErrors} 
		<h3>Items:</h3>
		<hr />
		#{list items: itemsToBook.keySet(), as:'u'} <strong>${u}: </strong>${itemsToBook.get(u)}<br />
		#{/list} 
		#{form @LaundryController.success(), method:'POST'}
		<hr />
		<div class="form-group">
			<label for="securecode">Secure Code</label> <input type="password"
				id="secure-code" name="securecode" class="form-control">
		</div>
		<hr />
		<button type="submit" class="btn btn-success pull-right">next!</button>
		#{/form}
	</div>


	<p></p>
	</div>
</section>



